<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
      
<f:view>
	<h:head>
		<h3>
			<h:outputText id="title1" value="Java Magazine" />
		</h3>
		<h3>
			<h:outputText id="title2" value="Simple Application Batch with JSR 352" />
		</h3>
	</h:head>
	<h:body>
		<h:outputText value="For calculate student performance, click in button 'Calculate Performance'" />
		<br />
		<h:form id="batchForm">
		<h:panelGrid columns="3" id="inputInformation">
			<h:commandButton actionListener="#{executorMB.calculatePerformance}" value="Calculate Performance">
				<f:ajax render="batchForm:outputInformation" />
			</h:commandButton>
			<h:commandButton actionListener="#{executorMB.updateExecutionStatus}" value="Update">
				<f:ajax render="batchForm:outputInformation" />
			</h:commandButton>
		</h:panelGrid>
		<br />
		<br />
		<h:outputText value="Status of executed job" />
		<h:dataTable id="outputInformation" value="#{executorMB.jobs}" var="job" border="1">
			<h:column>
				<f:facet name="header">
					<h:outputLabel value="InstanceID" />
					<h:outputText value="#{job.instanceID}" />
				</f:facet>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputLabel value="ExecutionID" />
					<h:outputText value="#{job.executionID}" />
				</f:facet>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputLabel value="Job Name" />
					<h:outputText value="#{job.jobName}" />
				</f:facet>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputLabel value="Start Time" />
					<h:outputText value="#{job.startTime}" />
				</f:facet>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputLabel value="End Time" />
					<h:outputText value="#{job.endTime}" />
				</f:facet>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputLabel value="Batch Status" />
					<h:outputText value="#{job.batchStatus}" />
				</f:facet>
			</h:column>
		</h:dataTable>
		</h:form>
	</h:body>
</f:view>

</html>